<?xml version="1.0" encoding="UTF-8"?>
<configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
               xsi:noNamespaceSchemaLocation="http://www.padual.com/java/logback.xsd">
    <!-- 控制台 appender -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>dynamic-check %X{sessionId} %p [%t] %d %c %M %L: %m%n</pattern>
        </encoder>
    </appender>

    <!-- info日志 appender  -->
    <appender name="info" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/usr/local/dynamic-check/logs/dynamic-check-info-api.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>
                /usr/local/dynamic-check/logs/dynamic-check-info-api.%d{yyyy-MM-dd}.logx
            </fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>dynamic-check-api %X{sessionId} %p [%t] %d %c %M %L: %m%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter"><!-- 只打印正确日志 -->
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>
    <!-- error日志 appender  -->
    <appender name="error" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/usr/local/dynamic-check/logs/dynamic-check-error-api.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>
                /usr/local/dynamic-check/logs/dynamic-check-error-api.%d{yyyy-MM-dd}.logx
            </fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>dynamic-check-api %X{sessionId} %p [%t] %d %c %M %L: %m%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter"><!-- 只打印错误日志 -->
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <!--控制台打印资源加载信息-->
    <root level="info">
        <appender-ref ref="console"/>
        <appender-ref ref="info"/>
        <appender-ref ref="error"/>
    </root>
</configuration>
